{% extends "base.html" %}

{% block content %}
<body>
<h1>Chapter 2</h1>
<hr class="default">
<h3>Exercises:</h3>
<ol>
    <li><a href="{{ url_for('ch2_ex1') }}">Clockwork orange</a></li>
    <li><a href="{{ url_for('ch2_ex2') }}">Getting rid of spoiled fruit</a></li>
    <li><a href="{{ url_for('ch2_ex3') }}">Adding fresh produce</a></li>
    <li><a href="{{ url_for('ch2_ex4') }}">Salad ingredients</a></li>
    <li><a href="{{ url_for('ch2_ex5') }}">Mythical country</a></li>
    <li><a href="{{ url_for('ch2_ex6') }}">Follow the white rabbit</a></li>
    <li><a href="{{ url_for('ch2_ex7') }}">What is the meaning of...</a></li>
    <li><a href="{{ url_for('ch2_ex8') }}">Not relying on Google</a></li>
    <li><a href="{{ url_for('ch2_ex9') }}">Finding nano</a></li>
    <li><a href="{{ url_for('ch2_ex10') }}">Read the frickn' manual!</a></li>
</ol>
<hr class="default">
<p style="text-align:center;">
    <button onclick="document.location='{{ url_for('ch2_ex1') }}'">Start</button>
</p>
</body>

{% endblock %}