{% extends "base.html" %}

{% block content %}

<body>
<h1>Chapter 2</h1>
<hr class="default">
<h3>2. Getting rid of spoiled fruit</h3>
<h5>
    Remove the spoiled banana from the <b>fruit bowl</b>
</h5>
<p>.<br>.<br>.<br></p>
<form action="#" method="post">
    <h5><input type="submit" value="Check" /></h5>
</form>

{% if task == 'correct' %}
    <p>.<br>.<br>.<br></p>
    <h5 style="color:green; border: 2px solid Green"> TASK COMPLETE! Press 'Next' to continue </h5>
{% elif task == 'incorrect' %}
    <p>.<br>.<br>.<br></p>
    <h5 style="color:red; border: 2px solid Red"> TASK FAILED! Try again </h5>
    {% if count is defined and count >= 4 %}
    <h6 style="color:darkslategray; border: 2px solid darkslategray">
    <details>
    <summary>
    Show hint:
    <span class="icon">⬇️</span>
    </summary>
{#        <hr class="default">#}
{#        --------------------------------------------<br>#}
        Delete line number 6 which contains 'banana (spoiled)'<br>
    </details>
    </h6>
    {% endif %}
{% endif %}


{% if task == 'correct' %}
    <hr class="default">
    <p style="text-align:center;">
        <button onclick="document.location='{{ url_for('ch2_ex1') }}'"><--Previous</button>
        <button style="background-color:green; color:white" onclick="document.location='{{ url_for('ch2_ex3') }}'">Next--></button>
    </p>
{% else %}
    <hr class="default">
    <p style="text-align:center;">
        <button onclick="document.location='{{ url_for('ch2_ex1') }}'"><--Previous</button>
        <button style="background-color:red; color:white" onclick="document.location='{{ '#' }}' disabled">Next--></button>
    </p>
{% endif %}
</body>


{% endblock %}