{% extends "base.html" %}

{% block content %}
<body>
<h1>Chapter 4</h1>
<hr class="default">
<h3>Exercises:</h3>
<ol>
    <li><a href="{{ url_for('ch4_ex1') }}">Terminal superpowers</a></li>
    <li><a href="{{ url_for('ch4_ex2') }}">Friends</a></li>
    <li><a href="{{ url_for('ch4_ex3') }}">Adding the group</a></li>
    <li><a href="{{ url_for('ch4_ex4') }}">Putting Joey where he belongs</a></li>
    <li><a href="{{ url_for('ch4_ex5') }}">Joey's file</a></li>
    <li><a href="{{ url_for('ch4_ex6') }}">Green light</a></li>
    <li><a href="{{ url_for('ch4_ex7') }}">Installing new software</a></li>
    <li><a href="{{ url_for('ch4_ex8') }}">Cleaning up</a></li>
</ol>
<hr class="default">
<p style="text-align:center;">
    <button onclick="document.location='{{ url_for('ch4_ex1') }}'">Start</button>
</p>
</body>

{% endblock %}