{% extends "base.html" %}

{% block content %}

<h1>Restore to factory settings</h1>
<hr class="default">
<ul>
    <li><a href="{{ url_for('ch5_ex1') }}">Chapter 1 restore</a></li>
    <li><a href="{{ url_for('ch5_ex2') }}">Chapter 2 restore</a></li>
    <li><a href="{{ url_for('ch5_ex3') }}">Chapter 3 restore</a></li>
    <li><a href="{{ url_for('ch5_ex4') }}">Chapter 4 restore</a></li>
    <li><a href="{{ url_for('ch5_ex5') }}">Chapter 5 restore</a></li>
</ul>
<hr class="default">
<ul>
    <li><a href="{{ url_for('ch5_ex1') }}">Full home folder restore</a></li>
</ul>


{% endblock %}